<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表</title>
    <!-- 引入elementui.min.css -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- 引入jquery.js -->
    <script src="./libs/jquery/jquery.js"></script>
    <!-- 引入moment.js -->
    <script src="./libs/moment/moment.js"></script>
    <!-- 引入vue.min.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- 引入elementui.min.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
    <!-- 检测是否登录 -->
    <script src="/users/checkIsLogin"></script>
</head>

<body>
    <!-- 准备dom容器 -->
    <div id="app">
        <!-- 页面整体容器 -->
        <el-container>


            <!-- 右侧内容容器 -->
            <el-container>
                <!-- 右侧头部 -->
                <el-header>
                    <h2>欢迎您 {{username}}</h2>
                    <p>商品管理</p>
                </el-header>
                <!-- 右侧中间主体 -->
                <el-main>
                    <!-- 卡片整体内容部分 -->
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>账号管理</span>
                        </div>
                        <div class="text item">
                            <!-- 搜索表单 -->
                            <div style="text-align: left">
                                <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                                    <!-- 分类 -->
                                    <el-form-item label="分类名称">
                                        <el-select v-model="searchForm.searchCateName" placeholder="请选择分类">
                                            <el-option label="全部" value="全部"></el-option>
                                            <el-option label="酒水类" value="酒水类"></el-option>
                                            <el-option label="食品类" value="食品类"></el-option>
                                            <el-option label="日用品" value="日用品"></el-option>
                                            <el-option label="电子类" value="电子类"></el-option>
                                            <el-option label="服装类" value="服装类"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <!-- 关键字 -->
                                    <el-form-item label="关键字">
                                        <el-input v-model="searchForm.searchKeyWord" placeholder="商品名称或条形码"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="search">查询</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <!-- 商品列表表格 -->
                            <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                                @selection-change="handleSelectionChange">
                                <!-- 选择框 -->
                                <el-table-column type="selection">
                                </el-table-column>

                                <el-table-column prop="barCode" label="条形码">
                                </el-table-column>
                                <el-table-column prop="goodsName" label="商品名称">
                                </el-table-column>
                                <el-table-column prop="cateName" label="所属分类">
                                </el-table-column>
                                <el-table-column prop="salePrice" label="售价">
                                </el-table-column>
                                <el-table-column prop="promotion" label="促销">
                                </el-table-column>

                                <!-- 日期 -->
                                <el-table-column label="日期">
                                    <template slot-scope="scope">{{ scope.row.ctime | formatCtime }}</template>
                                </el-table-column>
                                <!-- 操作 -->
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-button size="mini" type="primary" @click="handleEdit(scope.row.id)">
                                            <i class="el-icon-edit"></i>
                                        </el-button>
                                        <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">
                                            <i class="el-icon-delete"></i>
                                        </el-button>
                                    </template>
                                </el-table-column>

                            </el-table>


                            <div style="margin-top: 20px; text-align: left">
                                <el-button type="warning" @click="batchesDel()">删除选中</el-button>
                                <el-button type="info" @click="deselectall()">取消选择</el-button>
                            </div>

                            <!-- 分页组件 -->
                            <div style="margin-top: 20px;">
                                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                    :current-page="currentPage" :page-sizes="[1, 3, 5, 8, 10, 20, 50]" :page-size="pageSize"
                                    layout="total, sizes, prev, pager, next, jumper" :total="totalcount">
                                </el-pagination>
                            </div>

                        </div>
                    </el-card>
                </el-main>
                <!-- 右侧脚部 -->
                <el-footer>
                    <p>&copy; Copyright 2018 华联超市管理系统</p>
                </el-footer>
            </el-container>
        </el-container>
    </div>


    <script>
        // 创建Vue实例
        new Vue({
            el: '#app',
            data() {
                return {
                    // 查询表单的数据
                    searchForm: {
                        searchCateName: '',
                        searchKeyWord: ''
                    },
                    username: '',
                    tableData: [],
                    multipleSelection: [],
                    currentPage: 1,
                    pageSize: 5,
                    totalcount: ''
                }
            },
            // vue实例创建完毕  没有挂载dom vue生命周期：created  适合准备数据(发送ajax 获取数据)
            created() {
                let _this = this;
                // 调用一次请求所有数据的方法
                this.getAllUsers();

                // 进入页面 在生命周期里面 发送请求 自动获取当前登录用户的用户名
                $.get('/users/getusername', function (data) {
                    // console.log(data);
                    _this.username = data;
                });
            },
            methods: {
                // 查询函数
                search() {
                    // 保留this
                    /* let _this = this;
                    // 获取用户输入的查询 分类名 和 关键字
                    let params = {
                        "searchCateName": this.searchForm.searchCateName,
                        "searchKeyWord": this.searchForm.searchKeyWord
                    }

                    // 发送ajax 把查询参数发送给后端 
                    $.get('/goods/search', params, function (data) {
                        // console.log(data);
                        // 把查询结果 赋值给tableData 渲染表格
                        _this.tableData = data;
                    }) */
                    this.getAllUsers();
                },



                // 分页
                // 当页面尺寸(每页显示多少条) 发生改变触发
                handleSizeChange(val) {
                    // 尺寸改变  把尺寸赋值给pigeSize
                    this.pageSize = val;
                    this.getAllUsers();
                },
                // 当前页码发生改变触发
                handleCurrentChange(val) {
                    // 当前页改变  就把当前页的页码赋值给 currentPage
                    this.currentPage = val;
                    this.getAllUsers();
                },

                // 请求所有数据的方法(函数)
                getAllUsers() {
                    // 保留this  让这里的this一直指向vue实例
                    var _this = this;

                    // 分页需要传给后端的参数：当前页码、页面尺寸
                    const params = {
                        pageSize: this.pageSize,
                        currentPage: this.currentPage,
                        "searchCateName": this.searchForm.searchCateName,
                        "searchKeyWord": this.searchForm.searchKeyWord
                    }

                    // 发送ajax请求  请求数据库里面所有的用户数据
                    $.get('./goods/goodsList', params, function (data) {
                        // console.log('接收到后端返回的数据对象：', data);

                        // 判断  如果当前页没有数据
                        if (data.pageData.length < 1 && _this.currentPage > 1) {
                            _this.currentPage -= 1;
                            _this.getAllUsers();
                        }

                        // 把后端发送过来的数据总条数赋值给  totalcount
                        _this.totalcount = data.totalcount;
                        // 把对应页码的数据 赋值给 tableData
                        _this.tableData = data.pageData;
                    })
                },

                // 批量删除按钮的函数
                batchesDel() {
                    // 保留this指向
                    var _this = this;

                    // 获取勾选的数据
                    // console.log('勾选的数据：',this.multipleSelection);

                    // 从勾选的数里面 获取id:把id循环出来--(map循环）
                    let idArr = this.multipleSelection.map(v => v.id);
                    // console.log(idArr);

                    // 如果用户没有选中 点击删除  服务器会出问题
                    // 解决方法:  判断选中的数据的id组成的数组是否有长度（有长度表示选中的有数据）
                    if (!idArr.length) {
                        alert('请选择需要删除的数据后再操作...');
                        // 直接返回  不执行后面的代码
                        return false;
                    }

                    /* // 发送ajax请求  把这些id发送给后台
                    $.post('/users/batchesDel', { "idArr": idArr }, function (data) {
                        // console.log(data);

                        // 根据后台响应回来的数据判断是否删除成功
                        if (data.errcode === 1) {
                            // 如果成功 弹出成功提示
                            alert(data.msg)
                            // 刷新页面（重新请求一次所有数据 就是发送一次get请求 也就是刷新页面）
                            _this.getAllUsers();
                        } else {
                            // 否则 弹出错误提示
                            alert(data.msg);
                        }
                    }); */

                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 发送ajax请求  把这些id发送给后台
                        $.post('/goods/batchesDel', { "idArr": idArr }, function (data) {
                            // console.log(data);

                            // 根据后台响应回来的数据判断是否删除成功
                            if (data.errcode === 1) {
                                _this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                // 刷新页面（重新请求一次所有数据 就是发送一次get请求 也就是刷新页面）
                                _this.getAllUsers();
                            }
                            _this.getAllUsers();
                        });

                    }).catch(() => {
                        _this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                // 取消选择按钮的函数
                deselectall() {
                    this.$refs.multipleTable.clearSelection();
                },

                // 勾选触发的函数
                handleSelectionChange(val) {
                    // 把勾选中的数据 赋值给 multipleSelection
                    this.multipleSelection = val;
                },

                // 编辑（修改）按钮的方法
                handleEdit(id) {
                    // console.log(id);
                    // 跳转到修改页面  把id传过去
                    location.href = `./goodsEdit.html?id=${id}`
                },

                // 单条删除按钮的方法
                handleDelete(id) {
                    // console.log(id);

                    // 保留this指向
                    var _this = this;

                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 发送单条删除的请求
                        $.get(`/goods/goodsDelOne?id=${id}`, function (data) {
                            // 判断：如果删除成功 弹出删除成功 并刷新页面
                            if (data.errcode === 1) {
                                _this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                // 刷新页面 ： 通过重新发送一次ajax，就是一次get请求，就能刷新页面
                                _this.getAllUsers();
                            }
                        });
                        _this.getAllUsers();
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                        _this.getAllUsers();
                    });
                }
            },
            filters: {
                // 过滤时间
                formatCtime(value) {
                    return moment(value).format("YYYY-MM-DD HH:mm:ss");
                }
            }
        })
    </script>
</body>

</html>